.navbarSection {
  position: absolute;
  z-index: 4;
  left: 0;
  right: 0;
}
.sections > li > a {
  font-size: 17px;
  font-weight: 700;
  padding-top: 20px;
}
.sections a:hover{
  text-decoration: underline;
}
@media (max-width: 920px) {
  .navbarSection {
    position: absolute;
    padding: 0 80px 0 80px ;
  }
  .navbarSection:hover {
    background: #000000;
  }
}