.title {
  font-size: 17px;
  font-weight: bold;
  color: var(--blue-secundary);
  text-decoration: none;
}
.title:hover {
  text-decoration-line: underline;
}
.description {
  font-size: 22px;
  font-weight: 600;
  color: #111111;
}
.spc-b {
  margin-bottom: 65px;
}
.cardsStudy {
  display:  flex;
  gap: 16px;
  overflow-x: auto;
  cursor: pointer;
}
.allCases a {
  font-size: 17px;
  font-weight: 500;
}
::-webkit-scrollbar-thumb:vertical{
  background-color: #262626;
}
::-webkit-scrollbar-thumb:horizontal{
  background-color: #0c62fb;
  border-radius: 20px;
}
::-webkit-scrollbar{
  width: 10px;
}
@media (max-width: 768px) {
  .title{
    font-size: 11px;
  }
}
@media (min-width: 1200px) {
  .description {
    font-size: 44px;
  }
}
