:root {
  --blue-secundary: #0c62fb;
  --smTitle: 11px;
  --mdTitle: 17px;
  --whiteColor: #FFFFFF;
}
.title {
  font-size: 17px;
  font-weight: bold;
  color: var(--blue-secundary);
  text-decoration: none;
}
.title:hover {
  text-decoration-line: underline;
}
.description {
  font-size: 22px;
  font-weight: 600;
  color: #111111;
}
.spc-b {
  margin-bottom: 65px;
}
.cardsStudy {
  display:  flex;
  gap: 16px;
  overflow-x: auto;
}
.allCases a {
  font-size: 17px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .title{
    font-size: 11px;
  }
}
@media (min-width: 1200px) {
  .description {
    font-size: 44px;
  }
}