.technologyPlatforms {
  padding: 65px 0 105px 0;
  background-color: #f3f4f5;
}
.platformsTechs {
  display: grid;
  grid-template-columns:repeat(auto-fill, 144px);
  justify-content: center;
  margin: 48px 0 40px 0;
}
.descriptionTP {
  font-size: 22px;
  color: #111111;
}
.respTP {
  display: flex;
}
.respTP div {
  margin-left: 16%;
}
@media (max-width: 768px) {
  .descriptionTP {
    font-size: 16px;
  }
  .respTP {
    display: block;
    margin-right: 20%;
  }
  .respTP div {
    margin-left: 0;
  }
}