.whatWereThinking {
  position: relative;
  background: #f3f4f5;
  padding-bottom: 40px;
}
.containerWWT {
  width: 80%;
  margin: 0 auto 150px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr ;
  grid-template-areas: "title" 
                        "header"
                        "article"
                        "aside";
}
.containerWWT .titleWWT {
  /* background-color: blue; */
  margin-top: 120px;
  grid-area: title;
}
.containerWWT .headerWWT {
  /* background-color: blueviolet; */
  grid-area: header;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 12px;
}
.containerWWT .articleWWT {
  /* background-color: red; */
  display: grid;
  grid-template-columns:repeat(auto-fill, 440px);
  justify-content: center;
  /* gap: 25px; */
  grid-area: article;
}
.containerWWT .asideWWT {
  grid-area: aside;
}
.containerWWT .asideWWT a:last-child {
  margin-left: 50px;
}
.whatWereThinking .explorerMore {
  position: absolute;
  right: 0;
  bottom: -80px;
  width: 80%;
  height: 144px;
  padding: 30px;
  background: #0c62fb;
  color: #FFFFFF;
}
.whatWereThinking .explorerMore span {
  font-size: 14px;
  font-weight: bold;
}
.whatWereThinking .explorerMore p {
  font-size: 22px;
  margin: 0;
}
.whatWereThinking .explorerMore .separation a{
  color: #FFFFFF;
  transition:.4s ease all;
}
.whatWereThinking .explorerMore .separation a:hover{
  color: #ffffff6b;
}
@media (max-width: 589px) {
  .containerWWT {
    width: 100%;
    grid-template-columns: 1fr ;
    grid-template-areas: "title" 
                          "header"
                          "article"
                          "aside";
  }
  .containerWWT .titleWWT {
    margin: 65px 90px 0 80px;
  }
  .containerWWT .headerWWT {
    margin: 0 90px 0 80px;
  }
  .containerWWT .articleWWT {
    /* background-color: red; */
    display: grid;
    grid-template-columns: auto;
    justify-content: center;

  }
  .containerWWT .asideWWT {
    margin: 0 60px 0 60px ;
  }
  .whatWereThinking .explorerMore {
    width: 88%;
    height: 211px;
    padding: 30px 90px 30px 30px;
;
  }
}
@media (min-width: 1350px) {
  .containerWWT {
    width: 1300px;
    margin: 0 auto 0 auto;
    grid-template-columns: 1fr 1fr  ;
    grid-template-areas: "aside title " 
                        "aside header "
                        "aside article "
                        "aside article ";
  }
  .containerWWT .titleWWT {
    margin-top: 70px;
  }
  .containerWWT .headerWWT {
    font-size: 40px;
    font-weight: bold;
  }
  .containerWWT .articleWWT {
    display: block;
    margin: 50px 0 40px 0;
  }
  .containerWWT .asideWWT {
    margin: 300px 140px 0 0;
  }
  .whatWereThinking .explorerMore {
    width: 54%;
    height: 160px;
  }
  .whatWereThinking .explorerMore p {
    font-size: 22px;
    width: 400px;
  }
  .whatWereThinking .explorerMore .separation {
    margin-top: 12px;
    display: flex;
  }
  .whatWereThinking .explorerMore .separation a{
    margin: 4px 0 0 150px;
  }
}